In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("FoodDeliveryDB.csv")
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [3]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')

In [6]:
df_sorted = df.sort_values(by='Order_Date')

In [8]:
df_sorted['Weatherconditions'] = df_sorted['Weatherconditions'].str.replace('conditions ', '')

In [11]:
df_sorted['Time_taken(min)'] = df_sorted['Time_taken(min)'].str.replace('(min) ','')

In [12]:
df_sorted

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
16525,0xc64b,KNPRES14DEL02,29,5,26.463504,80.372929,26.483504,80.392929,2022-02-11,09:40:00,09:45:00,Cloudy,Low,1,Snack,motorcycle,0,No,Metropolitian,10
28846,0xc61a,KOCRES19DEL03,26,4.7,9.960846,76.293936,10.020846,76.353936,2022-02-11,19:10:00,19:25:00,Stormy,Jam,1,Drinks,motorcycle,1,No,Metropolitian,25
9556,0xdcee,ALHRES16DEL02,33,4.3,25.450377,81.834236,25.500377,81.884236,2022-02-11,23:10:00,23:20:00,Windy,Low,0,Meal,motorcycle,1,No,Metropolitian,26
28739,0xcba1,KNPRES20DEL03,24,4.5,26.470000,80.350000,26.500000,80.380000,2022-02-11,22:40:00,22:50:00,Stormy,Low,0,Buffet,motorcycle,1,No,Metropolitian,22
9595,0xdb1c,AGRRES19DEL02,31,4.5,0.000000,0.000000,0.020000,0.020000,2022-02-11,08:40:00,08:55:00,Fog,Low,0,Drinks,motorcycle,1,No,Metropolitian,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34099,0x52f6,PUNERES11DEL02,37,4.6,18.533811,73.899315,18.613811,73.979315,2022-04-06,23:50:00,00:00:00,Sandstorms,Low,0,Snack,motorcycle,1,No,Metropolitian,24
24330,0x70c9,CHENRES20DEL02,38,4.9,12.975996,80.221898,13.105996,80.351898,2022-04-06,22:25:00,22:40:00,Stormy,Low,2,Meal,motorcycle,0,No,Metropolitian,15
12077,0x3a1a,JAPRES07DEL02,38,4.8,26.766536,75.837333,26.846536,75.917333,2022-04-06,21:50:00,22:05:00,Sunny,Jam,0,Meal,motorcycle,1,No,Metropolitian,44
18395,0x66f6,HYDRES13DEL02,33,3.8,17.431477,78.400350,17.561477,78.530350,2022-04-06,18:20:00,18:35:00,Windy,Medium,2,Buffet,electric_scooter,1,No,Metropolitian,36
10482,0x8251,HYDRES16DEL03,32,4.3,17.440827,78.393391,17.530827,78.483391,2022-04-06,21:55:00,22:05:00,Windy,Jam,1,Meal,motorcycle,0,Yes,Metropolitian,44

In [13]:
df = df_sorted.dropna()

In [42]:
df.tail(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
10268,0x9378,MUMRES07DEL01,37.0,4.8,19.091458,72.827808,19.201458,72.937808,2022-04-06,17:55:00,18:00:00,Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,36
21020,0xbc88,INDORES11DEL03,33.0,4.3,22.751234,75.889490,22.841234,75.979490,2022-04-06,21:15:00,21:30:00,Windy,Jam,0,Meal,motorcycle,1,No,Metropolitian,47
18715,0xa8f2,JAPRES03DEL01,27.0,4.6,26.913483,75.803139,26.983483,75.873139,2022-04-06,17:45:00,18:00:00,Windy,Medium,0,Snack,motorcycle,0,No,Metropolitian,34
8793,0x9108,BANGRES15DEL01,37.0,4.9,12.975377,77.696664,13.085377,77.806664,2022-04-06,23:40:00,23:50:00,Fog,Low,1,Drinks,motorcycle,1,No,Urban,29
12075,0xb96d,RANCHIRES12DEL01,27.0,2.7,0.000000,0.000000,0.110000,0.110000,2022-04-06,23:10:00,23:20:00,Sunny,Low,1,Meal,scooter,1,No,Metropolitian,31
34099,0x52f6,PUNERES11DEL02,37.0,4.6,18.533811,73.899315,18.613811,73.979315,2022-04-06,23:50:00,00:00:00,Sandstorms,Low,0,Snack,motorcycle,1,No,Metropolitian,24
24330,0x70c9,CHENRES20DEL02,38.0,4.9,12.975996,80.221898,13.105996,80.351898,2022-04-06,22:25:00,22:40:00,Stormy,Low,2,Meal,motorcycle,0,No,Metropolitian,15
12077,0x3a1a,JAPRES07DEL02,38.0,4.8,26.766536,75.837333,26.846536,75.917333,2022-04-06,21:50:00,22:05:00,Sunny,Jam,0,Meal,motorcycle,1,No,Metropolitian,44
18395,0x66f6,HYDRES13DEL02,33.0,3.8,17.431477,78.400350,17.561477,78.530350,2022-04-06,18:20:00,18:35:00,Windy,Medium,2,Buffet,electric_scooter,1,No,Metropolitian,36
10482,0x8251,HYDRES16DEL03,32.0,4.3,17.440827,78.393391,17.530827,78.483391,2022-04-06,21:55:00,22:05:00,Windy,Jam,1,Meal,motorcycle,0,Yes,Metropolitian,44

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41368 entries, 16525 to 10482
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           41368 non-null  object
 1   Delivery_person_ID           41368 non-null  object
 2   Delivery_person_Age          41368 non-null  float64
 3   Delivery_person_Ratings      41368 non-null  float64
 4   Restaurant_latitude          41368 non-null  float64
 5   Restaurant_longitude         41368 non-null  float64
 6   Delivery_location_latitude   41368 non-null  float64
 7   Delivery_location_longitude  41368 non-null  float64
 8   Order_Date                   41368 non-null  datetime64[ns]
 9   Time_Orderd                  41368 non-null  object
 10  Time_Order_picked            41368 non-null  object
 11  Weatherconditions            41368 non-null  object
 12  Road_traffic_density         41368 non-null  object
 13  Vehicle_condition            41368 non-null  int64
 14  Type_of_order                41368 non-null  object
 15  Type_of_vehicle              41368 non-null  object
 16  multiple_deliveries          41368 non-null  object
 17  Festival                     41368 non-null  object
 18  City                         41368 non-null  object
 19  Time_taken(min)              41368 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(11)
memory usage: 6.6+ MB

In [38]:
df.replace('NaN ', np.nan, inplace=True)
df = df.dropna()

In [39]:
df.replace('NaN', np.nan, inplace=True)
df = df.dropna()

C:\Users\Janith\AppData\Local\Temp\ipykernel_16284\2660429144.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('NaN', np.nan, inplace=True)

In [40]:
df.replace('NaT', np.nan, inplace=True)
df = df.dropna()

In [21]:
df['Delivery_person_Ratings'] = pd.to_numeric(df['Delivery_person_Ratings'])

In [46]:
df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd']).time()
df['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked']).time()

TypeError: <class 'datetime.time'> is not convertible to datetime, at position 0

In [28]:
df['Time_taken(min)'] = pd.to_numeric(df['Time_taken(min)'])

In [56]:
df['Time_Orderd'] = df['Time_Orderd'].str.strip()

AttributeError: Can only use .str accessor with string values!

<class 'pandas.core.frame.DataFrame'>
Index: 41368 entries, 16525 to 10482
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           41368 non-null  object
 1   Delivery_person_ID           41368 non-null  object
 2   Delivery_person_Age          41368 non-null  float64
 3   Delivery_person_Ratings      41368 non-null  float64
 4   Restaurant_latitude          41368 non-null  float64
 5   Restaurant_longitude         41368 non-null  float64
 6   Delivery_location_latitude   41368 non-null  float64
 7   Delivery_location_longitude  41368 non-null  float64
 8   Order_Date                   41368 non-null  datetime64[ns]
 9   Time_Orderd                  41368 non-null  object
 10  Time_Order_picked            41368 non-null  object
 11  Weatherconditions            41368 non-null  object
 12  Road_traffic_density         41368 non-null  object
 13  Vehicle_condition            41368 non-null  int64
 14  Type_of_order                41368 non-null  object
 15  Type_of_vehicle              41368 non-null  object
 16  multiple_deliveries          41368 non-null  object
 17  Festival                     41368 non-null  object
 18  City                         41368 non-null  object
 19  Time_taken(min)              41368 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(11)
memory usage: 6.6+ MB

In [55]:
from datetime import datetime
df['Time_Orderd'] = df['Time_Orderd'].apply(lambda x: datetime.strptime(x, '%H:%M:%S').time())

TypeError: strptime() argument 1 must be str, not datetime.time

In [60]:
df = df.sort_values(by=['Order_Date', 'Time_Orderd'])

In [62]:
df.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
29560,0xd300,KOCRES05DEL03,39.0,4.6,9.970717,76.285447,10.030717,76.345447,2022-02-11,00:00:00,00:05:00,Windy,Low,2,Snack,motorcycle,1,No,Metropolitian,27
24044,0xc401,LUDHRES11DEL02,25.0,4.6,30.893081,75.821495,30.943081,75.871495,2022-02-11,00:00:00,00:05:00,Sandstorms,Low,1,Snack,scooter,0,No,Metropolitian,12
37357,0xc614,DEHRES04DEL03,36.0,4.9,30.340722,78.060221,30.370722,78.090221,2022-02-11,00:00:00,00:10:00,Sunny,Low,1,Drinks,motorcycle,0,No,Urban,11
608,0xd152,BHPRES15DEL03,38.0,4.8,23.234249,77.434007,23.294249,77.494007,2022-02-11,00:00:00,00:10:00,Fog,Low,1,Meal,scooter,1,No,Urban,17
30623,0xc3ff,ALHRES20DEL01,32.0,4.3,25.454697,81.834492,25.464697,81.844492,2022-02-11,08:10:00,08:20:00,Stormy,Low,0,Buffet,motorcycle,2,No,Metropolitian,34
24009,0xceea,LUDHRES18DEL02,33.0,4.9,30.890184,75.829615,30.910184,75.849615,2022-02-11,08:10:00,08:15:00,Sunny,Low,2,Drinks,scooter,1,No,Urban,12
18512,0xcb30,AGRRES08DEL01,22.0,4.3,27.160934,78.044095,27.170934,78.054095,2022-02-11,08:10:00,08:20:00,Windy,Low,0,Drinks,motorcycle,0,No,Urban,27
24385,0xcc98,AURGRES02DEL01,28.0,4.9,0.000000,0.000000,0.010000,0.010000,2022-02-11,08:15:00,08:25:00,Windy,Low,2,Buffet,scooter,0,No,Urban,14
6390,0xd8c5,KOCRES12DEL02,36.0,4.8,9.988483,76.295211,10.008483,76.315211,2022-02-11,08:15:00,08:20:00,Sunny,Low,1,Meal,motorcycle,1,No,Urban,11
20430,0xdaa5,GOARES09DEL02,29.0,4.9,15.303897,73.914336,15.323897,73.934336,2022-02-11,08:15:00,08:30:00,Sunny,Low,1,Buffet,scooter,0,No,Metropolitian,17

In [ ]:
df.to_csv('cleanedData.csv', index=False)

In [ ]:
############################################

In [2]:
dfc = pd.read_csv("cleanedData.csv")

In [7]:
len(dfc["Order_Date"].value_counts())

44

In [4]:
import datetime

# Get the current date and time and assign it to the variable 'today'
today = datetime.datetime.now()

# Calculate the day of the year by subtracting January 1st of the current year from the current date and time, 
# then retrieve the number of days and add 1 (since January 1st should be considered as day 1)
day_of_year = (today - datetime.datetime(today.year, 1, 1)).days + 1

# Print the calculated day of the year
print(day_of_year)

TypeError: strptime() takes exactly 2 arguments (1 given)

In [3]:
import pickle


try:
    with open('model.pkl', 'rb') as file:
        data = pickle.load(file)
    print("Data loaded successfully:", data)
except FileNotFoundError:
    print("The file was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: node array from the pickle has an incompatible dtype:
- expected: {'names': ['left_child', 'right_child', 'feature', 'threshold', 'impurity', 'n_node_samples', 'weighted_n_node_samples', 'missing_go_to_left'], 'formats': ['<i8', '<i8', '<i8', '<f8', '<f8', '<i8', '<f8', 'u1'], 'offsets': [0, 8, 16, 24, 32, 40, 48, 56], 'itemsize': 64}
- got     : [('left_child', '<i8'), ('right_child', '<i8'), ('feature', '<i8'), ('threshold', '<f8'), ('impurity', '<f8'), ('n_node_samples', '<i8'), ('weighted_n_node_samples', '<f8')]

c:\Users\Janith\anaconda3\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.2.2 when using version 1.4.1.post1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [ ]:
##################3333

In [4]:
import numpy as np
import pandas as pd

In [5]:
dff = pd.read_csv('cleanedData.csv')

In [7]:
fdf = dff[['Delivery_person_Age','Delivery_person_Ratings','Time_taken(min)']]

In [8]:
fdf

       Delivery_person_Age  Delivery_person_Ratings  Time_taken(min)
0                     39.0                      4.6               27
1                     25.0                      4.6               12
2                     36.0                      4.9               11
3                     38.0                      4.8               17
4                     32.0                      4.3               34
...                    ...                      ...              ...
41363                 28.0                      3.5               31
41364                 30.0                      4.1               35
41365                 24.0                      4.8               24
41366                 32.0                      4.1               40
41367                 34.0                      4.0               42

[41368 rows x 3 columns]

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

X = fdf.drop(columns=['Time_taken(min)'])
y = fdf['Time_taken(min)']

# Assuming 'X' is your feature matrix and 'y' is your target vector
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Regressor
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
rf_regressor.fit(X_train, y_train)

# Make predictions
y_pred = rf_regressor.predict(X_test)

# Calculate Mean Squared Error (MSE) as a metric
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

from sklearn.model_selection import RandomizedSearchCV

# Define the parameter grid
param_grid = {
    'n_estimators': [100],
    'max_depth': [ 10, 20]
}

# Initialize the RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator=rf_regressor, param_distributions=param_grid, n_iter=100, cv=3, verbose=2, random_state=42, n_jobs=-1)

# Fit the RandomizedSearchCV to the data
rf_random.fit(X_train, y_train)

# Get the best parameters
best_params = rf_random.best_params_
print("Best Parameters:", best_params)

Mean Squared Error: 62.80269766349766
Fitting 3 folds for each of 2 candidates, totalling 6 fits

c:\Users\Janith\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 2 is smaller than n_iter=100. Running 2 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best Parameters: {'n_estimators': 100, 'max_depth': 10}

In [17]:
import pickle

# Assuming 'rf_regressor' is your trained Random Forest Regression model
model_filename = 'random_forest_regression_model.pkl'

# Save the model to a file
with open(model_filename, 'wb') as file:
    pickle.dump(rf_regressor, file)

In [21]:
import pickle

# Load the model from the .pkl file
model_filename = 'random_forest_regression_model.pkl'
with open(model_filename, 'rb') as file:
    rf_regressor = pickle.load(file)

# Define the input data point
input_data_point = [[21, 2.2]]

# Make the prediction
prediction = rf_regressor.predict(input_data_point)

# Print the prediction
print("Prediction:", prediction)

Prediction: [36.57866667]

c:\Users\Janith\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(